* {
    margin: 0;
    padding: 0;
  }
  body {
    background: #1e1e1e;
    color: white;
    font-family: sans-serif;
  }
  ul {
    list-style-type: none;
    position: absolute;
    left: 20px;
    top: 20px;
  }